.navbar {
  background-color: white;
  padding: 25px 30px;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  font-family: 'League Spartan', sans-serif;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 20px;
  width: auto;
  max-width: max-content;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #ec407a;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f06292;
}

.btn-cadastro {
  background: linear-gradient(to right, #f06292, #ec407a);
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-cadastro:hover {
  background: linear-gradient(to right, #ec407a, #f06292);
}
