@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fffaf0;
  color: #333;
  line-height: 1.6;
}

/* Links */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Layout principal */
main {
  padding: 2rem;
}
